.balances {
    position: relative;
    min-height: 480px;
}

.pole {
    position: absolute;
    width: 400px;
    left: 50%;
    transform: translateX(calc(-50% + 23px));
}

.arms {
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    z-index: 0;
    transition: transform 0.5s
}

.plateContainer {
    position: absolute;
    width: 300px;
    left: -15px;
    top: 60px;
    transition: transform 0.5s;
}

.plateContainer:last-of-type {
    left: unset;
    right: -60px;
}

.plate {
    width: 100%;
}

.plateContainer div {
    position: absolute;
    left: 50%;
    transform: translateX(-40%);
    bottom: 100px;
    width: 100px;
}