.weights {
    display: flex;
}

.weights>div {
    flex-basis: 90px;
}

.fixed {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    flex-grow: 0 !important;
}

.current {
    border: 3px dotted gray;
}

.instruction {
    margin: 32px 8px 16px 8px;
    font-size: 24px;
}

.check {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0 100px 0;
}